question-header {
  display: block;
  background-color: var(--color-main);
  text-align: center;
  padding: 20px 0;
  border-bottom: solid var(--color-accent);
}

.title {
  color: var(--color-base);
  margin: 0;
  font-size: 20px;
  ;
}

.questionImage {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin:  auto;
  display: block;
  padding: 20px;
}

.carafe {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10px;
  margin-top: 10px;
}

.carafeImage {
  width: 60px;
  height: auto;
  padding: px;
  position: relative;
}

.progress {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-main);
}

